nav {
    background-color: #080F1D;
}

h1 {
    color: white;
}

.logo,
.prof {
    color: white;
}

.contents {
    text-align: center;
    /* margin-left: 16px; */
}

p {
    color: white;
}

.pencil {
    color: blue;
}

footer {
    color: aliceblue;
}

.post {
    color: aliceblue;
}

form {
    display: inline-block;
}

img {
    display: inline-block;
}

.liked {
    color: pink;
}

.usermenu {
    text-align: right;
}

.parent {
    margin-left: 16px;
    color: aliceblue;
    width: 500px;
    padding: 5px;
    cursor: pointer;
}

.manner {
    margin-left: 16px;
}

.newpost {
    margin-left: 16px;
}

.child {
    margin-left: 16px;
    width: 500px;
    padding: 5px;
}

.child a {
    margin-right: 10px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: -webkit-flex;
    display: flex;
}

.posts {
    margin-left: 16px;
}


/* 星空の背景のスタイル */
.stars {
    position: relative;
    width: 100%;
    /* 星空の横幅 */
    height: 100vh;
    /* 星空の縦幅 */
    background-image: linear-gradient(0deg, #00dedc, #115d89, #080f1c);
    /* 星空の背景色 */
    overflow: hidden;
    /* 星が枠外にはみ出すのを防ぐ */
}

/* 星のスタイル */
.star {
    position: absolute;
    display: block;
    background-color: #fff;
    /* 星の色 */
    border-radius: 50%;
    box-shadow: 0 0 4px 2px rgba(#fff, 0.2);
    /* 星の影 */
    opacity: 0;
    animation: twinkle 5s infinite;
}

/* 星がキラキラ光るアニメーション */
@keyframes twinkle {
    0% {
        opacity: 0;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}